{% extends 'base.html.twig' %}

{% block title %}FAQs{% endblock %}

{% block body %}
<h1 class = "text-center bg bg-danger text-white p-3 fw-bold">Rent-A-JDM!</h1>
    <div class = "container p-4">
        <h1 class="border-bottom border-dark pb-4">Frequently Asked Questions</h1>

        <div class="faq mt-5">
            <div class="faq-item my-5">
                <h2>Question 1: What are the payment options?</h2>
                <p>Answer 1: We accept Visa, MasterCard, and PayPal for payments.</p>
            </div>

            <div class="faq-item my-5">
                <h2>Question 2: How can I cancel a reservation?</h2>
                <p>Answer 2: You can cancel your reservation by logging into your account and following the cancellation process.</p>
            </div>

            <div class="faq-item my-5">
                <h2>Question 3: What is the refund policy?</h2>
                <p>Answer 3: Our refund policy allows for full refunds within 30 days of booking, subject to certain conditions.</p>
            </div>

            <div class="faq-item my-5">
                <h2>Question 4: Can I change my reservation dates?</h2>
                <p>Answer 4: Yes, you can modify your reservation dates by accessing your account and following the change date process.</p>
            </div>

            <div class "faq-item my-5">
                <h2>Question 5: Do you offer insurance for rentals?</h2>
                <p>Answer 5: Yes, we provide rental insurance options to protect your reservation. You can find more details in the insurance section of your account.</p>
            </div>

        </div>
    </div>
{% endblock %}

