{% extends 'base.html.twig' %}

{% block title %}Rent-A-JDM{% endblock %}

{% block body %}
    <h1 class = "text-center bg bg-danger text-white p-3 fw-bold">Rent-A-JDM!</h1>
    <div class="container my-4">
        <h2 class="text-center fw-bold m-5">Car Makes</h2>

        <section class="brands mt-5">
            <h2>Explore Car Makes of Your Choice</h2>
            <p>Choose from our wide range of car makes and explore the events, cars, and customization options each make offers.</p>
        </section>

        <div class="row">
            {% for make in makes %}
            <div class="col-4 mt-4">
                <h3>{{ make.name }}</h3>
                <a href="{{ path('make_car_list', { id: make.id }) }}"><img class="col-12" src="{{ make.image }}"></a>
            </div>
            {% endfor %}
        </div>

        <section class="offer mt-5">
            <h2>Discover New Makes</h2>
            <p>Our passion for JDM cars drives us to continually expand our collection. You can look forward to finding new car makes added to our fleet in the future. We're dedicated to bringing you fresh choices and exciting possibilities.</p>
        </section>
        <div class="section-div">
        </div>
        <section class="brands mt-5">
            <h2>Interested in Buying a Car?</h2>
            <p>While we primarily offer car rentals, we occasionally have cars available for sale as we make room for new additions to our collection. If you're interested in purchasing a legendary JDM car, contact us to inquire about available sales. Your dream car may become a permanent part of your collection.</p>
        </section>
        <div class="section-div">
        </div>
        <section class="events mt-5">
            <h2>Ready to Own Your Dream Car?</h2>
            <p>If you're eager to become the proud owner of a specific car from our collection, please don't hesitate to reach out to our support team. We're here to assist you in making your dream a reality. Whether it's for a special event, a personal collection, or daily enjoyment, your dream JDM car is closer than you think.</p>
        </section>
    </div>
{% endblock %}
