{% extends 'base.html.twig' %}

{% block title %}Rent-A-JDM{% endblock %}

{% block body %}
<h1 class = "text-center bg bg-danger text-white p-3 fw-bold">Rent-A-JDM!</h1>
<div class="container my-4">
    <h2 class = "text-center fw-bold m-5">Welcome to Rent-a-jdm!</h2>
    <div class = "row"> 
        <img class = "col-4" src = "https://images.unsplash.com/photo-1615465224313-763997987f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80"></img>
        <img class = "col-4" src = "https://images.unsplash.com/photo-1624343582151-b74d5b1b7285?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80"></img>
        <img class = "col-4" src = "https://images.unsplash.com/photo-1569192545261-936d1ab6cf2c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80"></img>
    </div>

    <section class="offer mt-5">
        <h2>What Do We Offer?</h2>
        <p>At Rent-A-JDM, we offer you the opportunity to experience your dream car for a day or a special event. Our goal is to make your day truly unforgettable!</p>
        <p>As passionate JDM car enthusiasts and experts, we are here to share our knowledge of JDM car culture, provide regular vehicle maintenance, and offer customizations in performance, security, and aesthetics.</p>
    </section>
    <div class="section-div"></div>
    <section class="brands mt-5">
        <h2>Which Brands Do We Manage?</h2>
        <p>We proudly work with renowned car manufacturers such as Nissan, Mazda, and Honda, along with leading aftermarket car parts manufacturers like Nismo, HKS, Greddy, Apexi, and Tomei.</p>
    </section>
    <div class="section-div"></div>
    <section class="events mt-5">
        <h2>What Kinds of Events?</h2>
        <p>The choice of events is entirely yours.</p>
        <p>It can be for:</p>
        <ul>
            <li>A memorable wedding experience, with or without a chauffeur, depending on how you want to roll on your special day.</li>
            <li>A unique gender reveal with personalized tire smoke color options.</li>
            <li>Photoshoots or film productions.</li>
            <li>A thoughtful gift of a legendary JDM car ride to someone special.</li>
            <li>Fulfilling your dream of driving a legendary JDM car.</li>
        </ul>
        <p>If you have a specific event request or need pricing information, please don't hesitate to contact our support team.</p>
    </section>
</div>
{% endblock %}

