{% extends 'base.html.twig' %}

{% block title %}Rent-A-JDM{% endblock %}

{% block body %}
<h1 class = "text-center bg bg-danger text-white p-3 fw-bold">Rent-A-JDM!</h1>
<div class="container my-4">
    <h2 class = "text-center fw-bold m-5">Welcome to Rent-a-jdm!</h2>
    <div class = "row"> 
        <img class = "col-4" src = "https://images.unsplash.com/photo-1615465224313-763997987f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80"></img>
        <img class = "col-4" src = "https://images.unsplash.com/photo-1624343582151-b74d5b1b7285?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80"></img>
        <img class = "col-4" src = "https://images.unsplash.com/photo-1569192545261-936d1ab6cf2c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80"></img>
    </div>

    <section class = "offer mt-5">
        <h2>What do we offer?</h2>
        <p>We offer you the possibility to drive your dream car for one day or just for a particular event. The most important thing for us is that your day became unforgettable!</p>
        <p>As huge fans and experts of jdm cars we love exchange our knowledge on jdm car culture with others, we can do daily maintenance in our vehicules and customizations such as performance, security or aesthetics.</p>
    </section>
    <div class = "section-div">
    </div>
    <section class = "brands mt-5">
        <h2>What brands do we manage?</h2>
        <p>We are actually working with some important car manufacturers like Nissan, Mazda and Honda and aftermarket carparts manufacturers like Nismo, HKS, Greddy, Apexi and Tomei</p>
    </section>
    <div class = "section-div">
    </div>
    <section class = "events mt-5">
        <h2>What kind of events?</h2>
        <p>The event itself is up to you.</p>
        <p>It can be:</p>
        <ul>
            <li>A wedding, with chauffeur or not, depends on if you want to drive the car like a boss the great day</li>
            <li>A gender reveal with option for a tyre color smoke personalization</li>
            <li>For shooting photo sessions or even to make a film</li>
            <li>You can just offer somebody a good car ride in a legendary jdm car</li>
            <li>Or you can just drive your dream car</li>
        </ul>
        <p>If you have a custom event request feel free to contact our support for pricing and conditions</p>
    </section>
</div>
{% endblock %}

