{% extends 'base-back.html.twig' %}

{% block title %}Make list{% endblock %}

{% block body %}
<div class="container bg-lighttt pt-5">

    <div class="row mb-2">

        <div class="col">
        {% if make is defined %}
            <h1>Edit make</h1>
        {% else %}
            <h1>Add make</h1>
        {% endif %}

            {{ form_start(makeForm) }}
            
            {{ form_row(makeForm.name) }}

        {% if make is defined %}
            <button class="btn btn-success m-2">Edit</button>
        {% else %}
            <button class="btn btn-success m-2">Add</button>
        {% endif %}
            {{ form_end(makeForm) }}
            <a href="{{path ('back_make_list')}}"><button class="btn btn-danger m-2">Back</button></a>
        </div>
    </div>
</div>
{% endblock %}
