{% extends "base-back.html.twig" %}
{% block body %}
<div class="container bg-lighttt pt-5">
        <h1 class = "fw-bold">Marques</h1>
        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    </div>
                {% for make in makes %}
                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
      
                        <a href="{{ path('car_list_by_make', {id: make.id}) }}" class="btn btn-primary">{{make.name}}</a>
                    </div>
                {% endfor %}
                </div>
            </div>
                <div class="col-8 p-4 d-flex flex-row justify-content-between position-static bg-light">
                    <a href="{{ path('main') }}" class="btn btn-danger col-4">Retour</a>
                    <a href="{{ path('make_list') }}" class="btn btn-success col-4">Liste</a>
                </div>
        </div>
        
    </div>
{% endblock %}